---
title: "Homepage | Zachary Dziura"
nav:
  - Home
  - About
  - Skills
  - Resume
  - Contact
bylines:
  - firstWord: "Web"
    secondWord: "Developer"
  - firstWord: "Rust"
    secondWord: "Enthusiast"
  - firstWord: "Dungeon"
    secondWord: "Master"
about: >
  Hi there! Thanks for stopping by.

  My name is Zachary, and I'm a software engineer who builds performant and scalable web apps. I've worked with a number
  of different languages and frameworks up-and-down the technology stack: from Angular &amp; NgRx on the front-end; to
  Rust &amp; Warp, Java &amp; Spring-Boot, C# &amp; .NET, and JavaScript/TypeScript &amp; Express on the back-end.

  I even administer my own Linux and BSD servers to host my personal projects (including this very website)!

  In my spare time &mdash; when not wrangling my kids &mdash; I enjoy working on a variety of projects that satisfy my
  curiosity with the overall technology landscape. I've built a multitude of CLI programs in Rust to better manage my
  D&amp;D campaigns. I've also built (but not yet released) an Android app that helps users better manage their personal
  budget.

  And that only scratches the surface!

  If any of what I've written is interesting enought to warrant a one-on-one conversation, feel free to reach out to me
  in the Contact section below. I would love to chat with you further to see if my skillset meets your needs!

  Cheers!
skills:
  - name: TypeScript
    value: 10
  - name: Angular
    value: 10
  - name: Rust
    value: 9
  - name: Warp
    value: 8
  - name: Java
    value: 8
  - name: Spring-Boot
    value: 7
  - name: Kotlin
    value: 8
  - name: Android SDK
    value: 6
  - name: C#
    value: 7
  - name: ASP.NET
    value: 5
  - name: Python
    value: 6
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <nav>
      <ul>
        {% for link in nav %}
        <li id="nav-{{ link | downcase }}">
          <a>{{ link }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <main>
      <section id="home" class="hero">
        <div class="profile-pic">
          <img src="/hero.webp" height="256" width="256" alt="The man himself, Zachary Dziura!" />
        </div>

        <div class="text">
          <h1><span class="first-word">Zachary</span>&nbsp;<span class="second-word">Dziura</span></h1>
          <hr />
          <ul class="bylines">
            {% for byline in bylines %}
            <li>
              <span class="first-word">{{ byline.firstWord }}</span
              >&nbsp;<span class="second-word">{{ byline.secondWord }}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>

      <section id="about" class="about">
        <h1>About</h1>
        <hr />
        {% assign paragraphs = about | split: "\n" %} {% for paragraph in paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </section>

			<section id="skills" class="skills">
				<h1>Skills</h1>
				<hr />
				<div class="skill-list">
					{% for skill in skills %}
					<div class="skill">
						<span class="skill-name">
							<label for="progress-bar-{{ skill.name | downcase }}">{{ skill.name }}</label>
							<span>{{ skill.value }} / 10</span>
						</span>
						<div class="progress-bar-wrapper">
							<div id="progress-bar-{{ skill.name | downcase }}" class="progress-bar" role="progressbar" aria-valuenow="{{ skill.value }}" aria-valuemin="0" aria-valuemax="10"></div>
						</div>
					</div>
					{% endfor %}
			</section>
    </main>

    <script async type="module" src="index.js"></script>
  </body>
</html>
